body {
    font-family: "Linux Libertine";
    padding: 0 2rem;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, pre, blockquote {
    margin-bottom: 1rem;
}
h1, h2, h3, h4 {
    font-family: "Linux Biolinum";
    margin-top: 1rem;
}
h1 {font-size: 1.2em; font-weight: bold;}
h2 {font-size: 1.2em; font-style: italic;}
h3 {font-size: 1.0em; font-weight: bold;}
h4 {font-size: 1.0em; font-style: italic;}
header {
    text-align: center;
}
code,
table {
    background: #efefef;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}
pre > code {
    display: block;
    margin: -0.2rem;
    padding: 0.2rem;
}
code {
    font-family: monospace;
    font-style: normal;
    white-space: pre;
}
table {
    border-collapse: collapse;
    font-family: monospace;
    margin: -0.2rem;
}
th, td {
    border: solid 1pt #e0e0e0;
    padding: 0.2rem;
}
